#gameContainer{
    text-align: center;
}
#gameBoard{
    border: 5px solid;
}
#scoreText{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 300px;
}
#resetBtn{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    width: 100px;
    height: 50px;
    border: 5px groove;
    border-radius: 10px;
    cursor: crosshair;
}
#testBtn{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
    width: 400px;
    height: 75px;
    border: 11px inset;
    border-radius: 3px;
    cursor: help;
}